<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ugani skrito število!</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet"> 
  </head>
  <body>
    <div class="clock">
      Vpišite naravno število (1-10), katerega želite uganiti in pritisnite "Ugani!"<br />
      <form class="" action="/" method="post">
        <input class="clock-display" type="text" name="vnos"><button type="submit" name="button">Ugani!</button>
      </form><br />
      {{ result }}
    </div>
  </body>
</html>
