{% extends "base.html" %}

{% block content %}
      <div class="form">
        <div class="text">
          Vnesite DNK niz in pritisnite "Analiziraj!"
        </div>
        <div class="input">
          <form method="post" action="/result">
            <div class="text-area">
              <textarea type="text" name="DNA-input" rows="8" cols="80"></textarea>
            </div>
            <div class="btn-container">
              <button type=”submit” class="btn">Analiziraj!</button>
            </div>
          </form>
        </div>
      </div>
{% endblock content %}
