<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="author" content="Damir Tešnjak">

  <!-- Bootstrap CSS -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">

  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <title>Movie list</title>

</head>
<body>
  <audio id="play" src="/assets/sounds/CHORD.wav" preload="auto">
    Your browser does not support the audio element.
  </audio>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main">
          <div class="title">
            <div class="text-title">
              <img src="/assets/icons/movie.jpg" alt="" style="margin-left: 2px; margin-right: 2px; width: 13px; height: 13px;">Movie list (by Damir Tešnjak)
            </div>
            <div class="button-qmark">
              <a href="#info"><button class="button" style="font-size: 11px;"><b>?</b></button></a>
            </div>
          </div>
          <div id="info" class="overlay">
            <div class="popup" style="width: 500px;">
              <div class="title">
                <div class="text-title">
                  Info
                </div>
              </div>
              <div class="content">
                <br>
                  <p>Title: <br> <input class="input-box" type="text" name="title" placeholder="Information"="Information"></p>
                  <p>Rating: <br> <input class="input-box" type="text" name="rating" placeholder="about Movie list"></p>
                  <p>Description: <br> <textarea class="input-box" name="description" rows="8" cols="30">This application was created with the purpose of gaining skills in web development. Icons and sounds are not my work. The design is inspired by the Windows 98 style.
                  </textarea></p>
                  <p><a href="#"><button>Close</button></a></p>
             </div>
           </div>
          </div>

          <div class="tools">
            <p><a href="#new_movie"><button><img src="/assets/icons/movie.jpg" style="width: 32px;" alt="">New movie</button></a>
              <a href="#delete_all"><button onclick="document.getElementById('play').play()"><img src="/assets/icons/66.ico" style="width: 32px;" alt="">Delete all</button></a>
              <a href="/trash"><button><img src="/assets/icons/103.ico" style="width: 32px;" alt="">Trash bin</button></a></p>
          <div id="delete_all" class="overlay">
            <div class="popup">
              <div class="title">
                  <div class="text-title">
                      <b>Warning!</b>
                    </div>
                    <div class="button">
                      <a href="#"><button class="button" style="font-size: 11px;"><b>x</b></button></a>
                    </div>
                  </div>
                  <div class="content">
                    <br>
                    <img src="/assets/icons/invalid.jpg" alt="" style="margin-left: 10px; margin-right: 10px;"> Warning: You are about to delete all movies!
                    <br><br>
                    <p class="buttons"><a href="/del_all"><button>Delete all</button></a> <a href="#"><button>Close</button></a></p>
                  </div>
                </div>
              </div>
              <div id="new_movie" class="overlay">
                <div class="popup">
                  <div class="title">
                    <div class="text-title">
                      New movie
                    </div>
                    <div class="button">
                      <a href="#"><button class="button" style="font-size: 11px;"><b>x</b></button></a>
                    </div>
                  </div>
                  <div class="content">
                      <br>
                    <form class="" action="/add" method="post">
                      <p>Title: <br> <input class="input-box" type="text" name="title" value=""></p>
                      <p>Rating: <br> <input class="input-box" type="text" name="rating" value="" placeholder="*****"></p>
                      <p>Movie poster URL: <br> <input class="input-box" type="text" name="thumbnail" value="" placeholder="example: www.movie.jpg"></p>
                      <p>Description: <br> <textarea class="input-box" name="description" rows="8" cols="30"></textarea></p>
                      <p><button type="submit" name="" value="">Add</button> <a href="#"><button>Close</button></a></p>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="table-box groove">
              <div class="table-content">
                <table>
                  <tr>
                    <th>Title
                      <a href="/sortTitleUP">&#8679;</a>
                      <a href="/sortTitleDOWN">&#8681;</a>
                    </th>
                    <th>Rating
                      <a href="/sortRatingUP">&#8679;</a>
                      <a href="/sortRatingDOWN">&#8681;</a>
                    </th>
                    <th>Thumbnail
                      <a href="/sortDateUP">&#8679;</a>
                      <a href="/sortDateDOWN">&#8681;</a>
                    </th>
                    <th>Status
                      <a href="/sortStatusUP">&#8679;</a>
                      <a href="/sortStatusDOWN">&#8681;</a>
                    </th>
                    <th>Options</th>
                  </tr>
                {% for movie in movieList %}
                  <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.rating }}</td>
                    <td style="width: 150px;"><img src="{{ movie.thumbnail }}" alt="" style="width: 150px;"></td>
                    <td>{{ movie.done }}</td>
                    <td><a href="/movie/{{ movie.key.id() }}/done">Mark as viewed</a> |
                      <a href="#{{ movie.key.id() }}_edit">Show/Edit</a> |
                      <a href="#{{ movie.key.id() }}_delete" onclick="document.getElementById('play').play()">Delete</a></td>
                      <div id="{{ movie.key.id() }}_delete" class="overlay">
                        <div class="popup">
                          <div class="title">
                            <div class="text-title">
                              Warning!
                            </div>
                            <div class="button">
                              <a href="#"><button class="button" style="font-size: 11px;"><b>x</b></button></a>
                            </div>
                          </div>
                          <div class="content">
                            <br>
                            <img src="/assets/icons/invalid.jpg" alt="" style="margin-left: 10px; margin-right: 10px;"> Warning: You are about to delete this movie!
                            <br><br>
                            <p class="buttons"><a href="/movie/{{ movie.key.id() }}/delete"><button>Delete</button> </a> <a href="#"><button>Close</button></a></p>
                          </div>
                        </div>
                      </div>
                      <div id="{{ movie.key.id() }}_edit" class="overlay">
                        <div class="popup" style="width: 500px;">
                          <div class="title">
                            <div class="text-title">
                              Edit
                            </div>
                            <div class="button">
                              <a href="#"><button class="button" style="font-size: 11px;"><b>x</b></button></a>
                            </div>
                          </div>
                          <div class="content" id="{{ movie.key.id() }}_edit">
                            <br>
                            <form class="" action="/movie/{{ movie.key.id() }}/edit" method="post">
                              <p>Title: <br> <input class="input-box" type="text" name="title" value="{{ movie.title }}"></p>
                              <p>Rating: <br> <input class="input-box" type="text" name="rating" value="{{ movie.rating }}" placeholder="*****"></p>
                              <p>Description: <br> <textarea class="input-box" name="description" rows="8" cols="30">{{ movie.description }}</textarea></p>
                              <p><button type="submit" name="" value="">Edit</button> <a href="#"><button>Close</button></a></p>
                            </form>
                         </div>
                       </div>
                      </div>
                    </tr>
                  {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
