<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pretvornik km | mi!</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  </head>
  <body>
    <div class="pretvornik">
      Pred vsako pretvorbo vpišite v eno izmed polj razdaljo!<br />
      <form class="" action="/" method="post">
        km: <input class="pretvornik-display" type="text" name="vnos1" placeholder="{{ km }}"><br />
        <button type="submit" name="button">Pretvori!</button><br />
        mi: <input class="pretvornik-display" type="text" name="vnos2" placeholder="{{ mi }}"><br /><br />
      </form>
    </div>
  </body>
</html>
