<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Damir Tešnjak">
    <title>Damir Tešnjak | Blog</title>

        <!-- External Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Gruppo" rel="stylesheet">

        <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
    <link href="/assets/css/layout.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>

  </head>
  <body>
    <div class="container">
    <!-- Page content -->

      <div class="row">

        <!-- Logo and a name/title -->

        <div class="col-sm-12 col-md-12 col-lg-5 header pos-rel">
          <div class="title display-inline-block font">
            Damir Tešnjak
          </div>
        </div>

        <!-- Navigation bar -->

        <div class="col-sm-12 col-md-8 col-lg-5 pos header">
          <div class="links">
            <a href="/index">Moji projekti</a>
            <a href="" style="text-shadow: 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 5px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff ;font-weight: bold;">O meni</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Kontakt</a>
          </div>
        </div>

        <!-- Search box -->

        <div class="col-sm-12 col-md-4 col-lg-2 pos header">
          <div class="search-box-container">
            <input class="search-box" type="text" placeholder="Išči...">
          </div>
        </div>
      </div>

      <!-- Subtitle #1 -->

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 sub-title font">
          Curriculum vitae <br />
          <div class="text2 text-align">
            <table class="table text">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Raziskovalne dejavnosti:</td>
                  <td>Analiza pokrovnosti tal iz posnetkov satelitskega sistema Landsat na tromeji Slovenije, Hrvaške in Madžarske, in na tromeji Madžarske, Hrvaške in Srbije (pri izr. prof. dr. Marko Krevs, praktično usposabljanje med študijem) (2015)
                    <br /><br />
                    Sodelovanje v raziskavah (tudi analiza in prikaz prostorskih podatkov):
                    Strategija razvoja turizma v občini Ribnica za Občino Ribnica (izr. prof. dr. Irma Potočnik Slavič, doc. dr. Dejan Cigale) (2014)
                    <br /><br />
                    Kranj: transformacija gospodarskih con (izr. prof. dr. Simon Kušar, red. prof. dr. Dejan Rebernik) (2013)
                    <br /><br />
                    Problematika romskega naselja Hudeje (izr. prof. dr. Jernej Zupančič, asist. dr. Boštjan Rogelj) (2014)
                    <br /><br />
                    Anketiranje podjetij za raziskavo o vključenostih podjetij v lokalne in mednarodne tokove (izr. prof. dr. Irma Potočnik Slavič) (2013)
                  </td>
                </tr>
                <tr>
                  <td>Izobrazba<br />
                    Pridobljena stopnja:
                  </td>
                  <td>VII.</td>
                </tr>
                <tr>
                  <td>Pridobljeni naziv:</td>
                  <td>Magister geografije (2. bolonjska stopnja)</td>
                </tr>
                <tr>
                  <td>Izobraževalna ustanova:</td>
                  <td>Filozofska fakulteta, Aškerčeva cesta 2 , 1000 LJUBLJANA</td>
                </tr>
                <tr>
                  <td>Smer:</td>
                  <td>Regionalno-planiranje, ruralno-urbane študije in uporabna geoinformatika</td>
                </tr>
                <tr>
                  <td>Magistrsko delo:</td>
                  <td>Ocenjevanje območja bodočega mesta Ljubljane s pomočjo metode celičnih avtomatov (2016) (mentor: izr. prof. dr. Marko Krevs)</td>
                </tr>
                <tr>
                  <td>Dodatna izobraževanja:</td>
                  <td>Tečaj Web development 1 (SmartNinja)<br />
                      Tečaj Web development 2 (SmartNinja)</td>
                </tr>
                <tr>
                  <td>Znanje jezikov:</td>
                  <td>angleščina (razumevanje: odlično, govorjenje: dobro, pisanje: dobro)<br />
                      hrvaščina (razumevanje: odlično, govorjenje: odlično, pisanje: dobro)
                  </td>
                </tr>
                <tr>
                  <td>Računalniška znanja:</td>
                  <td>Okolje Windows, MS Office (Word, Excel, Powerpoint) (poznavanje: odlično)<br />
                      Adobe Ilustrator, Adobe photoshop (poznavanje: osnovno)<br />
                      Gimp (poznavanje: zelo dobro)<br />
                      ArcGis-Desktop, Idrisi, SPSS (poznavanje: zelo dobro)<br />
                      Python (poznavanje: dobro)<br />
                      HTML (poznavanje: dobro)
                  </td>
                </tr>
                <tr>
                  <td>Osebnostne lastnosti:</td>
                  <td>-	Organiziran (uporabljam beležnico za načrtovanje in organiziranje svojih aktivnosti).<br />
                      -	Natančen in potrpežljiv (primer risanje z računalnikom, tudi v monotonih aktivnostih).<br />
                      -	Prilagodljiv na spremembe zahtev, ljudi, nepričakovanih situacij, najti optimalno rešitev.<br />
                      -	Komunikativen (sodeloval v raznih timskih delih, anketiral, opravljal intervju podjetij, znam poslušati in dati predloge).<br />
                      -	Vztrajen in motiviran za dosego zastavljenega cilja, ne obupavam, vsako delo/aktivnost mora biti končano pravočasno.<br />
                      -	Iniciativen in samostojen v iskanju rešitev nekega problema.<br />
                      -	Pripravljen na izpopolnjevanje svojih veščin in kompetenc.

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
