<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Damir Tešnjak">
    <title>Damir Tešnjak | Blog</title>

        <!-- External Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Gruppo" rel="stylesheet">

        <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
    <link href="/assets/css/layout.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>

  </head>
  <body>
    <div class="container">
    <!-- Page content -->

      <div class="row">

        <!-- Logo and a name/title -->

        <div class="col-sm-12 col-md-12 col-lg-5 header pos-rel">
          <div class="title display-inline-block font">
            Damir Tešnjak
          </div>
        </div>

        <!-- Navigation bar -->

        <div class="col-sm-12 col-md-8 col-lg-5 pos header">
          <div class="links">
            <a href="/index">Moji projekti</a>
            <a href="/about">O meni</a>
            <a href="" style="text-shadow: 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 5px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff ;font-weight: bold;">Blog</a>
            <a href="/contact">Kontakt</a>
          </div>
        </div>

        <!-- Search box -->

        <div class="col-sm-12 col-md-4 col-lg-2 pos header">
          <div class="search-box-container">
            <input class="search-box" type="text" placeholder="Išči...">
          </div>
        </div>
      </div>

      <!-- Subtitle #1 -->

      <div class="row" id="work">
        <div class="col-sm-12 col-md-12 col-lg-12 sub-title font">
          Kako sem se sam naučil programirati v Pythonu <br />
          <h3><a href="https://www.smartninja.si/courses" target="_blank"> Join SmartNinja - web development tečaj!</a> </h3>
          <div class="text2 text-align">

          Začelo se je nekega dne, dober mesec dni po končanem študiju na Univerzi v Ljubljani, na Oddelku za geografijo. Takoj sem pričel iskati službo, z velikim
          optimizmom in z malo naivnostjo, da bo moja prihodnost na dosegu roke. Imeti službo, živeti v hiši in z zavistjo opazovati sosede, kot marsikateri čistokrvni Slovenc.
          Vendar po enem letu še vedno nisem našel službe. Hodil sem na razne delavnice, ki jih pripravlja neučinkovit Zavod za zaposlovanje (bolj sam sebi namen), razgovore
          tečaje, vse v upanju na kakršnokoli informacijo za pridobitev službe. Nič! Nekega dne sem se spomnil profesorjevih besed: "Če se mislite ukvarjati na področju geoinformacijskih
          sistemov, je zelo priporočljivo da se naučite programirati v Pythonu!" Dobesedno se ne spomnim njegovih besed, tukaj imate napisano samo bistvo.
          <br /><br />
          Python? Vedel sem samo to, da je to nek programski jezik. "Pa dejmo probat", sem si rekel,"škodilo ne bo, bo samo koristilo pri zaposlitvi." Vendar preden sem začel sem naletel na težavo.
          Kje poiskati najbolj kvalitetni online tečaj ali vaje na spletu. Zakaj si kompliciram življenje, si verjetno mislite, pa saj obstaja nešteto le teh. Problem ni v številu, ampak v kvaliteti.
          Velikokrat se ponavljajo samo ene in iste vaje, brez poglobljene razlage in nadgrajevanja znanja. Iskal sem in iskal, že počasi obupal in si mislil: "Ta pa bo težka."
          <br /><br />
          Potem nekega dne ZADETEK! TO JE TO! NAŠEL SEM. Na mojo srečo, jih je bilo še več. Spodaj so opisani v vrstnem redu obiska, ko sem se sam učil programirati v Pythonu (rešil vse vaje, preden sem obiskal
          naslednjo spletno stran).
          <br /><br />
          1. zadetek - <a href="https://cscircles.cemc.uwaterloo.ca/" target="_blank" style="text-shadow: 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 5px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff ;font-weight: bold;">COMPUTER SIENCE CIRCLES</a>, University of Waterloo. Zame najboljša stran za prvi stik s Pythonom. Spletna stran vsebuje ogromno lekcij. Vsaka lekcija se začne s teorijo, ki
          ni predstavljena naenkrat, ampak s primeri po korakih uči tečajnika, nakar je možno reševanje vaj. Znotraj posamezne lekcije so sprva vaje enostavne, ki pa skozi teorijo postajajo težje,
          kar prisili tečajnika uporabiti vso znanje, če jih misli rešiti.
          <br /><br />
          2. zadetek - <a href="https://www.codecademy.com/" target="_blank" style="text-shadow: 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 5px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff ;font-weight: bold;">CODECADEMY</a>. Le kaj bi brez njega. Način predstavitve snovi je zelo podoben prejšnemu primeru, vendar še bolj podrobno. Snov je razdeljena na posamezna poglavja, vsako
          poglavje pa na podpoglavja, ki tečajniku v povprečju vzame 30 min, do ene ure.
          <br /><br />
          3. zadetek - <a href="http://www.pyschools.com/" target="_blank" style="text-shadow: 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 5px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff ;font-weight: bold;">PYSCHOOLS.COM</a>. Nudi samo reševanje vaj, brez teorije, bolj pa s praktičnim primerom, ki pove kot slika s desettisočimi besedami. Svoj napredek lahko tudi
          spremljate. Nekatere vaje so zelo enostavne, če že zaradi tega trivialne. Neglede na to so odličen primer, da imate Python v krvi.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
