<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Damir Tešnjak">
    <title>Damir Tešnjak | Kontakt</title>

        <!-- External Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Gruppo" rel="stylesheet">

        <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
    <link href="/assets/css/layout.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>

  </head>
  <body>
    <div class="container">
    <!-- Page content -->

      <div class="row">

        <!-- Logo and a name/title -->

        <div class="col-sm-12 col-md-12 col-lg-5 header pos-rel">
          <div class="title display-inline-block font">
            Damir Tešnjak
          </div>
        </div>

        <!-- Navigation bar -->

        <div class="col-sm-12 col-md-8 col-lg-5 pos header">
          <div class="links">
            <a href="/index" >Moji projekti</a>
            <a href="/about">O meni</a>
            <a href="/blog" >Blog</a>
            <a href="" style="text-shadow: 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 5px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff ;font-weight: bold;">Kontakt</a>
          </div>
        </div>

        <!-- Search box -->

        <div class="col-sm-12 col-md-4 col-lg-2 pos header">
          <div class="search-box-container">
            <input class="search-box" type="text" placeholder="Išči...">
          </div>
        </div>
      </div>

      <!-- Subtitle #1 -->

      <div class="row" id="work">
        <div class="col-sm-12 col-md-12 col-lg-12 sub-title font">
          Kontakt <br />
          <div class="text2 text-align">

          E-mail: damir.tesnjak@gmail.com
          <br />
          Facebook: <a href="https://www.facebook.com/damir.tesnjak.3">https://www.facebook.com/damir.tesnjak.3</a>
          <br />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
