<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Damir Tešnjak">
    <title>Damir Tešnjak | Projekti</title>

        <!-- External Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Gruppo" rel="stylesheet">

        <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
    <link href="/assets/css/layout.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>

  </head>
  <body>
    <div class="container">
    <!-- Page content -->

      <div class="row">

        <!-- Logo and a name/title -->

        <div class="col-sm-12 col-md-12 col-lg-5 header pos-rel">
          <div class="title display-inline-block font">
            Damir Tešnjak
          </div>
        </div>

        <!-- Navigation bar -->

        <div class="col-sm-12 col-md-8 col-lg-5 pos header">
          <div class="links">
            <a href="" style="text-shadow: 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 5px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff, 0 0 50px #80ffff ;font-weight: bold;">Moji projekti</a>
            <a href="/about">O meni</a>
            <a href="/blog" >Blog</a>
            <a href="/contact">Kontakt</a>
          </div>
        </div>

        <!-- Search box -->

        <div class="col-sm-12 col-md-4 col-lg-2 pos header">
          <div class="search-box-container">
            <input class="search-box" type="text" placeholder="Išči...">
          </div>
        </div>
      </div>

      <!-- Subtitle #1 -->

      <div class="row" id="work">
        <div class="col-sm-12 col-md-12 col-lg-12 sub-title font">
          HTML5, CSS in JavaScript <br />
          <h3><a href="https://github.com/Pifko6" target="_blank"> https://github.com/Pifko6</a> </h3>
        </div>
      </div>

      <!-- "Cards" -->

      <div class="row boxes">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Boogle
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/boogle.jpg" alt="boogle" class="img-fluid">
              <div class="text">
                Spletna stran, ki je precej podobna originalni spletni strani "Google".
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Boogle login page
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/boogle-login.jpg" alt="boogle login" class="img-fluid">
              <div class="text">
                Dober približek originalne spletne strani obrazca za vpis/prijavo v Google. V našem primeru Boogle.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              H-Cut
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/H-cut.jpg" alt="H-cut" class="img-fluid">
              <div class="text">
                Spletna stran za izmišljeni frizerski salon 'H-cut', z dinamičnim layoutom (tehnologija bootstrap).
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row boxes">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Albert Enstein
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/Albert-Einstein.jpg" alt="Albert-Einstein" class="img-fluid">
              <div class="text">
                Spletna stran o Albertu Ensteinu.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Star Trek citati
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/startrek.jpg" alt="startrek" class="img-fluid">
              <div class="text">
                Generator citatov iz franšize Zvezdnih stez. Uporabljen Javascript.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              TwitchTV
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/TwitchTV.jpg" alt="TwitchTV" class="img-fluid">
              <div class="text">
                'Spletna aplikacija' TwitchTV za streaming kanale. Uporabljen Javascript.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row boxes">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Pomodoro Clock
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/Pomodoro-clock.jpg" alt="Pomodoro-clock" class="img-fluid">
              <div class="text">
                Štoparica za pomodoro tehniko. Uporabljen Javascript.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              WeatherApp
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/WeatherApp.jpg" alt="WeatherApp" class="img-fluid">
              <div class="text">
                'Spletna aplikacija' WeatherApp za prikaz trenutnega vremena na vaši lokaciji. Uporabljen Javascript.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Kalkulator
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/Kalkulator.jpg" alt="Kalkulator" class="img-fluid">
              <div class="text">
                Delujoč kalkulator. Več ni kaj dodati. Uporabljen Javascript.
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Subtitle #2 -->

      <div class="row">
        <div class="col-lg-12 sub-title font">
          Python 2.7
        </div>
      </div>

        <!-- "Cards" -->

      <div class="row boxes">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Štiri v vrsto
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/4-line.jpg" alt="boogle" class="img-fluid">
              <div class="text">
                Igra z 'AI', diagonal še ne prepozna :)
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Ugani glavno mesto države
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/GUI-capital.jpg" alt="boogle login" class="img-fluid">
              <div class="text">
                Z igro preverite znanje iz geografije.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              CSI DNA forensic program
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/CSI.jpg" alt="H-cut" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <div class="row boxes">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Password generator
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/code.jpg" alt="Albert-Einstein" class="img-fluid">
              <div class="text">
                Želite dolgo in močno geslo? Dolžina gesel in število naključno generiranih gesel je neomejeno.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Upravljalec s službenimi vozili
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/vozila.jpg" alt="startrek" class="img-fluid">
              <div class="text">
                Upravljate bazo podatkov službenih vozil v vašem podjetju.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Parsing Wikipedija - zastave držav
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/flags.jpg" alt="TwitchTV" class="img-fluid">
              <div class="text">
                Iz Wikipedie pobere slike zastav in jih shrani v računalnik.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row boxes">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Game of Thrones - število ogledov
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/GOT.jpg" alt="Pomodoro-clock" class="img-fluid">
              <div class="text">
                Števec vseh ogledov v posamezni sezoni serije Igre prestolov. Daenerys Targaryen: Dracarys!
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="box-title display-inline-block font">
              Trenutni čas
            </div>
            <div class="box-content display-block">
              <img src="/assets/img/time.jpg" alt="WeatherApp" class="img-fluid">
              <div class="text">
                Python + Jinja = friendies.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
        </div>
      </div>
    </div>
  </body>
</html>
