<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Damir Tešnjak">
    <title>Damir Tešnjak</title>

        <!-- External Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Gruppo" rel="stylesheet">

        <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 height">
          <div class="title">
            Damir Tešnjak
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 height">
          <div class="row-btn">
            <a href="/index"><button class="btn" type="button">Naprej</button></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
