<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="author" content="Damir Tešnjak">

    <!-- External Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <title>Filton | GuestBook</title>
  </head>
  <body>
    <div class="container">
      <div class="row main-title">
        <div class="col-md-12">
          Filton Hotel International ****
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="sub-title">
            {% block subtitle %}{% endblock subtitle %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% block content %}{% endblock content %}
        </div>
      </div>
    </div>
  </body>
</html>
